* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
overflow: hidden;
}
main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
}

section {
    opacity: 0.9;
    background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    width: 40vw;
    height: 100vh;
    padding-top: 41px;

    & div {
        margin-top: 30px;
        width: 40vw;
        height: 546px;
        /* background-color: red; */
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
}

input {
    padding: 20px;
    width: 500px;
    border: none;
    font-size: 16px;
    background: none;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    color: white;
    border-radius: 10px;
}
input:focus {
    outline: none;
}

input::placeholder {
    color: white;
}

.div-img {
    /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
    /* background: url(image/pngwing.com\ \(2\).png); */
    background: url(https://images.pexels.com/photos/326259/pexels-photo-326259.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    width: 60vw;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */

    & .img {
        width: 500px;
        height: 500px;
        /* background-color: red; */
        font-family: cursive;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        text-align: center;
        color: white;
    }
}

button {
    padding: 10px;
    width: 250px;
    font-size: 17px;
    border: none;
    background: none;
    color: white;
    border-bottom:2px solid gold;
    border-radius: 100px;
    cursor: pointer;
}


@media (max-width:1270px) {
    main {
        display: block;
    }
    section {
        position: absolute;
        margin: auto;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        z-index: 10;
    }
    input {
        width: 90vw;
    }
    .div-img {
        z-index: 2;
        width: 100vw;
        position: absolute;
        top: 0;
        opacity: 1;
    }
}

@media(width:768px) {
    h1 {
        margin-bottom: -150px;
    }
}

@media(width:820px) {
    h1 {
        margin-bottom: -150px;
    }
}

@media(width:1024px) {
    h1 {
        margin-bottom: -150px;
        
        & a {
            font-size: 50px;
        }
    }
}

@media(width:912px) {
    h1 {
        /* margin-bottom: -150px; */
        
        & a {
            font-size: 50px;
        }
    }
}

